.loading {
    position: fixed;
    left: 0px;
    z-index: 100;
    background-color: rgba(0,0,0,0.1);
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.devInfo {
    position: fixed;
    right: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}